.conexion-en-progreso {
  transform: translateY(-100px);
  animation-name: example;
  animation-duration: 5s;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

@keyframes example {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(50%);
    opacity: .1;
  }
}